<style>
    .width {
        width: 150px;
    }
    table tr td {
        padding-top: 10px;
    }
</style>
<div class="container">
    <table>
    <%= form_for @entry, url: thanks_path do |f| %>
    <tr>
     <td class="width">件名「タイトル』</td>
     <td><%= f.text_field :title %></td>
     
     </tr>
    <tr>
     <td class="width">名前</td>
     <td><%= f.text_field :name %></td>
     </tr>
     <tr>
         <td class="width">メールアドレス</td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
          <td class="width">お問い合わせ内容</td>
       <td><%= f.text_area :contact %></td>
       </tr>
   </table>
  <p class="align"><%= f.submit '保存', :class => 'button' %></p>
<% end %>
<%= form_for @entry, url: entry_path do |f| %>
     <p class="align"><%= f.submit '戻る',:name =>'back', :class => 'button' %></p>
     <%= f.hidden_field :name %>
     <%= f.hidden_field :email %>
     <%= f.hidden_field :contact %>
    
<% end %>
</div>